@model PiDevEsprit.Models.Bill

@{
    ViewBag.Title = "imprimer";
    Layout = "~/Views/front.cshtml";
}

<h1>pdf</h1>
<h4>report generated in path :C:\\Users\\ons\\git\\Esprit-PiDev-4Sae6</h4>

@Html.ActionLink("Back to List", "getAllBills")
